   :root {
            --verde-claro: #3ccb63;
            --verde-oscuro: #1f7a3a;
            --blanco: #ffffff;
        }

        body {
            margin: 0;
            font-family: "Segoe UI", Arial, sans-serif;
            background: #ffffff;
        }

    


        .nav-container {
            max-width: 1200px;
            margin: auto;
            display: flex;
            justify-content: center;
            gap: 30px;
        }

        .nav-container a {
            text-decoration: none;
            color: var(--blanco);
            background: var(--verde-claro);
            padding: 10px 18px;
            border-radius: 6px;
            font-weight: bold;
            transition: 0.3s ease;
            box-shadow: 0 3px 6px rgba(0,0,0,0.15);
        }

        .nav-container a:hover {
            background: var(--verde-oscuro);
            transform: translateY(-3px);
        }

 
        header {
            text-align: center;
            padding: 40px 0;
        }

        header h1 {
            font-size: 32px;
            color: var(--verde-oscuro);
            margin: 0;
        }